.newUser{
    flex: 4;
}

.newUserForm{
    display: flex;
    flex-wrap: wrap;
}
.newUserItem{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newUserItem>label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(163, 157, 157);
}
.newUserItem>input{
    height: 20px;
    padding: 10px;
    border-radius:5px;
    border: 1px solid gray;
}
.newUserItem>input:focus,.newUserSelect:focus{
    outline: none;
}
.newUserGender>input{
    margin-top: 15px;
}
.newUserGender>label{
    font-size: 18px;
    margin: 10px;
    color: #555;
}
.newUserSelect{
    height: 40px;
    border-radius: 5px;
}
.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    height: 40px;
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;

}